<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Joga+</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse container flex align-items-center">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex align-items-center">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Partidas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Posições</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Participantes</a>
              </li>  
          </ul>
          <ul style="list-style: none; margin-bottom: 0;">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Config</a>
                  <ul class="dropdown-menu" style="right: 0 !important; left: -4rem;">
                      <li><a class="dropdown-item" ng-click="exit()">Sair</a></li>
                      <li><a class="dropdown-item" href="#">Editar Perfil</a></li>
                  </ul>
              </li>
          </ul>
      </div>
    </div>
</nav>
  