<div style="height: 100%; background-repeat:no-repeat; background: url('https://t4.ftcdn.net/jpg/05/12/61/05/360_F_512610544_0excDel8sZTq4W0XLJTSehr9dZfOqi5R.jpg'); background-size: cover;">
    <div class="container d-flex align-items-center h-100">
        <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="d-flex align-items-center">
                <h2 class="text-white" style="font-size: 4.5rem; margin-right: 16px; text-shadow: 0 0 30px #000, 0 0 30px #000;">Joga</h2>
                <h1 class="text-white" style="font-size: 8rem; text-shadow: 0 0 30px rgb(14, 62, 208), 0 0 30px rgb(87, 193, 220);">+</h1>
            </div>
            <span class="text-white break-text" style="text-shadow: 0 0 30px #000, 0 0 30px #000;">
                O talento vence jogos, mas só o trabalho em equipe ganha campeonatos.
            </span>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
                <div class="card-body py-5 px-md-5">
                    <h1 class="mb-4">Login</h1>
                    <!-- input do email -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Email</label>
                        <input type="email" id="form3Example3" class="form-control" ng-model="email" />
                    </div>
    
                    <!-- input da senha -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example4">Senha</label>
                        <input type="password" id="form3Example4" class="form-control" ng-model="password"/>
                    </div>
    
                    <!-- Submit button -->
                    <button class="btn btn-primary btn-block mb-4" ng-click="signIn()" >Entrar</button>
                </div>
            </div>
        </div>
    </div>
</div>