<div class="container">
    <h1>Participantes</h1>
    <div class="flex">
        <input class="col-8" type="text" ng-model="participant.name" placeholder="Nome">
        <input class="col-8" type="date" ng-model="participant.born" placeholder="Data de Nascimento">
        <input class="col-4" type="number" ng-model="participant.number" placeholder="Número da camisa">
        <button ng-click="submit()">Salvar</button>
        <div>
            <select ng-model="positionId">
                <option value="">Selecione uma posição</option>
                <option ng-repeat="position in positions" ng-value="position.id">
                 {{position.name}}
                </option>
            </select>
        </div>
    </div>
</div>