<div class="container">
    <h3>Top 3 - Gols</h3>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <th>Id do Participante</th>
                    <th>Nome do Participante</th>
                    <th>Gols</th>
                </thead>
                <tbody>
                   <div class="row">
                    <div class="col-md-12">
                        <tr ng-repeat="participant in top3">
                            <td>{{participant.participant_id}}</td>
                            <td>{{participant.participant.name}}</td>
                            <td>{{participant.gols}}</td>
                        </tr>
                    </div>
                   </div>
                </tbody>
            </table>
        </div>
    </div>
    <h3>Top 3 - Notas</h3>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <th>Id do Participante</th>
                    <th>Nome do Participante</th>
                    <th>Nota</th>
                </thead>
                <tbody>
                   <div class="row">
                    <div class="col-md-12">
                        <tr ng-repeat="participant in top3Rate">
                            <td>{{participant.participant_id}}</td>
                            <td>{{participant.participant.name}}</td>
                            <td>{{participant.rate | number: 2}}</td>
                        </tr>
                    </div>
                   </div>
                </tbody>
            </table>
        </div>
    </div>
</div>